.fourOhFour {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 795px;
  margin: auto;
  text-align: center;
  &__message {
    text-align: center;
  }
  h2 {
    margin-bottom: 2rem;
    a {
      font-size: inherit;
    }
  }
}

.dark-theme .fourOhFour {
  color: white;
}
