.contact {
  &:not(.modal) {
    padding: 45px 0;
    @media screen and (min-width: $small) {
      padding: 60px 0;
    }
  }
  &__heading {
    text-align: center;
    margin-bottom: 30px; // @media screen and (min-width: $small) {
    //   margin-bottom: 30px;
    // }
    h2 {
      margin-bottom: 0;
    }
  }
  &__form {
    form {
      display: flex;
      flex-wrap: wrap;
      &.disabled {
        input[type="text"],
        input[type="email"],
        textarea {
          cursor: not-allowed;
          background-color: #ccc;
          color: $black;
          &:hover,
          &:focus {
            box-shadow: $trendyShadow !important;
          }
        }
        input[type="submit"] {
          cursor: not-allowed;
          background-color: transparent;
          border: 1px solid #ddd;
          box-shadow: none;
          color: $black;
          &:hover,
          &:focus {
            color: $black;
            background: none !important;
            box-shadow: none !important;
          }
        }
      }
    }
    input[type="text"],
    input[type="email"] {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px;
      flex-basis: 100%;
      @media screen and (min-width: $small) {
        flex-basis: calc((100% + 30px) / 2 - 30px);
      }
    }
    input[type="email"] {
      @media screen and (min-width: $small) {
        margin-left: 30px;
      }
    }
    textarea {
      flex-basis: 100%;
      margin-bottom: 30px;
      min-height: 25vh;
      @media screen and (min-width: $small) {
        margin-bottom: 60px;
        min-height: 250px;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea {
      border-radius: 5px;
      box-sizing: border-box;
      appearance: none;
      outline: none;
      box-shadow: none;
      background: rgba(364, 364, 364, 1);
      border: none;
      box-shadow: $inputShadow;
      padding: 8px 15px;
      transition: 0.1s ease-in-out;
      &:hover {
        background-color: lighten($black, 70%);
      }
      &:focus {
        color: $yellow;
        background-color: $black;
        &::placeholder {
          color: transparent;
        }
      }
      &.error {
        border: 1px solid $red;
        animation: grow 0.2s ease-in-out;
      }
    }
    input[type="submit"] {
      display: inline-block;
      cursor: pointer;
      max-width: 400px;
      background: white; // transition: all 0.2s ease-in-out forwards;
    }
  }
}

.dark-theme .contact {
  &__heading,
  &__form form.disabled input[type="submit"] {
    color: $bodyColor;
  }

  &__form form.disabled {
    input[type="text"],
    input[type="email"],
    textarea {
      color: lighten($black, 8%);
      background-color: $black;
    }
  }

  &__form form {
    input[type="text"],
    input[type="email"],
    textarea {
      &:focus {
        color: $yellow;
        background-color: $darkBlack;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}
