.endOfList {
  padding: 0 0 30px;
  text-align: center;
  @media screen and (min-width: $small) {
    padding: 0 0 60px;
  }
  p {
    @include fontSize(18px);
    color: lighten($black, 20%);
    &:last-of-type {
      display: inline;
    }
  }
  a {
    @include fontSize(18px);
    font-weight: bold;
    color: $yellow;
    span {
      color: white;
    }
  }
}
