.hero {
  padding: 150px 0 30px;
  // &__illustration {
  //   max-width: 300px;
  //   margin: 0 0 1.5rem;
  // }
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 1px 0px 0px rgba(56, 53, 77, 0.07);
  &__heading {
    opacity: 0;
    animation: fadeInUp 0.6s cubic-bezier(0.17, 0, 0, 1) forwards;
    h1 {
      // max-width: 85%;
      @include fontSize(38px);
    }
  }
  &__intro {
    opacity: 0;
    animation: fadeInUp 0.6s cubic-bezier(0.17, 0, 0, 1) forwards;
    animation-delay: 0.2s;
    color: $black;
    h2 {
      font-size: 1.375rem;
      font-weight: bold;
      opacity: 0;
      animation: fadeInUp 0.6s cubic-bezier(0.17, 0, 0, 1) forwards;
      animation-delay: 0.2s;
    }
  }
}

.dark-theme .hero {
  background-color: $black;
  h1,
  h2 {
    color: $bodyColor;
  }
}
