.icon {
  width: 72px;
  height: 72px;
  display: inline-block;
  // background-color: lighten($black, 20%);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 14px;
  svg {
    max-width: 20px;
    max-height: 20px;
  }
  svg,
  path,
  rect {
    transition: 0.2s ease-in-out;
  }

  path,
  rect {
    transform: scale(0.3);
    @media (min-width: $small) {
      transform: scale(0.32);
    }
  }
}
