.projects {
  padding: 45px 0;
  background: $darkBlack;
  border-top: 6px solid $darkBlack;
  @media screen and (min-width: $small) {
    padding: 60px 0;
  }
  &__heading {
    text-align: center;
    color: white;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
}

.project {
  padding: 10px;
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &.project--#{$i} {
      h3 {
        color: $color;
      }
      .tech {
        color: $color;
      }
      .project__logo {
        border-bottom: 6px solid $color;
      }
      .project__image {
        border: 4px dotted $color;
        &:hover {
          background: rgba($color, 0.6);
        }
        &:active {
          box-shadow: 0 10px 20px -10px rgba($color, 0.4);
          background: rgba($color, 1);
        }
      }
      a:not(.tech) {
        color: #{$color};
      }
    }
  }
  // @each $color in $colors {
  //   $i: index($colors, $color);
  //   &:nth-of-type(#{$i}) {
  //     h3,
  //     .project__image {
  //       border: 4px dotted $color;
  //       &:hover {
  //         background: rgba($color, 0.7);
  //       }
  //     }
  //     a:not(.tech) {
  //       color: #{$color};
  //     }
  //   }
  // }
  // @media screen and (min-width: $small) {
  //   &.even {
  //     .project__content {
  //       order: 1;
  //     }
  //     .project__image {
  //       order: 2;
  //     }
  //     .project__image {
  //       margin-left: 40px;
  //     }
  //   }
  //   &.odd {
  //     .project__image {
  //       margin-right: 40px;
  //     }
  //   }
  // }
  &__logo {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px 10px 0 0;
    top: 0;
    left: 0;
    img {
      height: 70px;
      max-width: 290px;
      margin: auto;
      display: block;
    }
  }
  &__image {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
    width: 200px;
    background: rgba(231, 231, 231, 0.05);
    border-radius: 20px;
    // @media screen and (min-width: $small) {
    //   margin-bottom: 0;
    //   width: auto;
    // }
    img {
      max-width: 100%;
    }
  }

  &__content {
    margin-top: 103px;
    h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  &__stack {
    .tech {
      display: inline-block;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 5px 10px 5px 0;
      background: rgba(0, 0, 0, 0.08);
    }
  }

  &__description {
    a {
      text-decoration: underline;
      &:hover {
        color: $red !important;
      }
    }
  }
}

.dark-theme {
  .projects {
    border-top: 6px solid $textColor;
    .tech {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
