.readNext {
  transform: scale(0);
  text-align: center;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: $inputShadow;
  padding: 20px;
  text-transform: uppercase;
  font-style: italic;
  color: $red;
  border-radius: 10px;
  &__link {
    font-style: initial;
    color: $textColor;
    padding-left: 1rem;
    text-decoration: underline;
  }
}

.dark-theme .readNext {
  background-color: $darkBlack;
  &__link {
    color: $bodyColor;
  }
}
