.readNext {
  opacity: 0;
  text-align: center;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: $inputShadow;
  padding: 20px;
  text-transform: uppercase;
  font-style: italic;
  color: $red;
  border-radius: 10px;
  animation: growIn 0.3s cubic-bezier(0.17, 0, 0, 1) forwards;
  animation-delay: 1s;
  &__link {
    font-style: initial;
    color: $textColor;
    padding-left: 1rem;
    text-decoration: underline;
  }
}
