input[type="submit"],
button,
a.button {
  font-size: 1rem;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  border: none;
  color: $red;
  padding: 4px 35px;
  box-shadow: $trendyShadow;
  transition: 0.1s ease-in-out;
  &:hover,
  &:focus {
    outline: none;
    color: white;
    background-color: $red !important;
    box-shadow: 0 5px 15px -5px $red;
  }

  &:active {
    transform: scale(0.95);
  }
}
