.pattern-background {
  background-image: $pattern;
  background-repeat: no-repeat;
  background-size: cover;
  &__small {
    background-size: 300%;
    @media screen and (min-width: $small) {
      background-size: 150%;
    }
  }
}

.dark-theme .pattern-background {
  background-image: $pattern-dark;
  background-color: $black;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 750px;
  padding: 0 20px;
  @media screen and (min-width: $small) {
    padding: 0 30px;
  }
}
