html,
body {
  font-size: 16px;
  @media screen and (max-width: $small) {
    font-size: 14px;
  }
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: $bodyColor;
  font-family: $openSans;
  color: $textColor;
}

h1 {
  @include fontSize(48px);
  font-family: $montserrat;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 0.5rem;
  @media screen and (max-width: $mobile) {
    font-size: 10vw;
  }
}

h2 {
  @include fontSize(18px);
  margin-top: 0;
  font-weight: bold;
  letter-spacing: 1.5px;
}

h2,
h3,
h4 {
  font-family: $openSans;
}

h1,
h3,
h4 {
  text-transform: uppercase;
}

h3 {
  @include fontSize(17px);
  font-weight: bolder;
  letter-spacing: 1px;
}

p,
input,
textarea {
  letter-spacing: 0.2px;
  color: $textColor;
  font-family: $openSans;
  font-size: 1rem;
  margin-top: 0;
  line-height: 2;
}

p {
  line-height: 2.5;
}

input,
textarea {
  font-size: 0.875rem;
  font-weight: bold;
  font-family: $openSans;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: $blue;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  &:hover,
  &:active {
    color: $red;
    transform: scale(1.1);
  }
}

/**
* Utility Classes
*/

.blue {
  color: $blue;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

hr {
  display: block;
  width: 50px;
  height: 0px;
  border-width: 2px;
  border-color: $blogTextColor;
  border-top: 0;
  margin: auto;
}
